@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

.poem {

}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.byline {
  font-family: 'Raleway', sans-serif;
}

.lead {
  font-family: 'Lato', sans-serif;
}

.line {
  font-family: 'Raleway', sans-serif;
}

.space {
  margin-bottom: 3rem;
}

.f1 { font-size: .7rem; }
  .f2 { font-size: .8rem; }
    .f3 { font-size: .9rem; }
  .f4 { font-size: 1rem; }
.f5 { font-size: 1.1rem; }
